# Python
__pycache__/
*.py[cod]
.venv/

# Env
.env
.huggingface/

# Caches and data
/workspace/.cache/
/data/
*.cache/

# Misc
*.log
.DS_Store

# hwr64
hwr64/runs/
hwr64/out/
hwr64/data/
hwr64/**/__pycache__/
